-gallery_photos = [{image:"proyecto1.jpg"}, {image:"proyecto2.jpg"},{image:"proyecto3.jpeg"}]
!!!5
%html{class:"no-js",lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title Expertos en arquitectura y construccion
		%meta{name:"description", content:"por si alguien nos busca"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"css/flexboxgrid.css"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%link{href:"https://fonts.googleapis.com/css?family=Dancing+Script&display=swap",rel:"stylesheet"}
		%meta{name:"viewport", content:"width=device-width,initial-scale=1"}
		%meta{:"data-name" => "image-counter", content:"#{gallery_photos.size-1}"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
			Estas usando un navegador
			%strong desactualizado
			por favor
			%a{href:"http://browsehappy.com/"}
				actualiza tu navegador
			para una mejor experiencia
		="<![endif]-->"
		.image-container
			%img{src:"/imgs/portada.jpg"}
		.row.full-height.middle-xs.center-xs.relative.up
			.col-xs-12
				.box.white-text
					%img{src:"/imgs/logo.png", width:500}
					%h1.white-text.title.no-margin 
					%p 
			%nav.fixed.top.right.white-text.navigation#navigation
				-menu=["Inicio","Nosotros","Proyectos","Contacto"]
				%ul.list-inline
					-menu.each do |item|
						%li.list-inline-item
							%a(href="#")=item
			.absolute.black.large-padding.white-text.bottom.full-width#description
				.row.middle-xs.center-xs
					.col-xs-7.col-sm-6.white-text.medium
						Ideas creadas por artistas de la construccion
					.col-xs.hidden
						.box
							%nav.text-right.navigation
								%ul.list-inline
									-menu.each do |item|
										%li.list-inline-item
											%a(href="#")=item
											%p prueba
		.text-center.relative#menu
			.absolute.white#menu-title
				%h2.title.pacifico lo hacemos?
			-menu_photos = [{title:"Disenio", image:"disenio.jpg",description:"Elaboramos el disenio adecuado de tus proyectos con una funcion adecuada para la comodidad de los usuarios y planificacion la construccion, acorde a tus situacion y necesidades"}, {title:"Constuccion",image:"construccion.jpeg",description:"Desarrollamos la construccion de tu vivienda o negocio de la manera mas confortable para que sea funcional y apta para tu gusto. Con materiales de alta calidad y mano de obra calificada."},{title:"Remodelacion",image:"remodelacion.jpeg",description:"Modificamos tu ambiente para crear espacios modernos y exclusivos. Mejorando tu experiencia sensitiva y creando un ambientes confortables."},{title:"Tablayeso",image:"tablayeso.jpeg",description:"Somos especialistas en instalacion de tabla yeso y refuerzos del mismo. Y lo utilizamos como una herramienta de transformacion de los ambientes, de manera mas rapida y accesible."},{title:"Pintura",image:"pintura.jpeg",description:"Nuestros tecnicos cuentan con una amplia experiencia en la aplicacion de pintura y polimeros que faciliten el resguardo de tu inmueble. De una forma estetica y conservadora."},{title:"Electricidad",image:"electricidad.jpeg",description:"Contamos con personal especialista en estas areas. Supervisados por profesionales que se mantienen capacitados con toda la informacion de la tecnologia de punta en el area que se desarrollan"},{title:"Instalacion de pisos",image:"pisos.jpeg",description:"Somos especialistas en formatos de gran tamanioo y acabados de lujo. Nuestros tecnicos cuentan con el equipo de trabajo para elaborar sus proyectos de la mejor manera. "},{title:"Acabados especiales",image:"especiales.jpeg",description:"Si usted lo puede soniar nosotros lo podemos construir. Los acabados que usted desea en su proyecto nosotros los podemos instalar. Contamos con los mejores proveedores del mercado."}]
			.row
				-menu_photos.each do |photo|
					.col-md-4.col-lg-3.col-sm-6.col-xs-12.service{style:"background-image:url(/imgs/#{photo[:image]})"}
						.screen
							.row.middle-xs.full-height
								.col-xs-12
									%h3.white-text.subtitle= photo[:title]
									%p.white-text= photo[:description]
		#gallery
			.inner
				-gallery_photos.each do |photo|
					.image{style:"background-image:url(/imgs/#{photo[:image]});"}
		.container
			.card.white.black-text.text-center.relative
				%h3.medium.slim
					En
					%strong.dancing-script.medium La Arquitectureria nuestra mision es 
					prestar un servicio profesional en el ambito de la construccion,  estableciendo una empresa solida que cuente con la satisfaccion de nuestros clientes y de los usuario de sus proyectos
				%h3.medium.slim
					%strong.dancing-script.medium Trabajamos cada dia para ser 
					una de las empresas lideres en construccion,  remodelacion y reparacion de bienes inmuebles. En el ambito guatemalteco y de la region, con el fin de establecer lugares agradables y funcionales.
		.row


		%script{src:"https://code.jquery.com/jquery-3.4.1.min.js",
  				integrity:"sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=",
  				crossorigin:"anonymous"}
		%script
			window.jQuery || document.write("<script src='/js/vendor/jquery-3.3.1.min.js'><\/script>")
		%script{src:"./js/main.js"}